<div class="container intro__container">
    <figure class="intro__example-of-work"><img src="@imgs/intro/kitchen1.jpg" alt="A photo of a kitchen, designed and made by us"></figure>
    <div class="intro__info--main">
        <h1 class="headline intro__headline"><span>Авторские</span><span>кухни</span><span>в Сочи</span></h1>
        <button class="btn intro__btn">Бесплатный замер</button>
        <button class="btn intro__btn intro__btn_purpose--calculate">Расчет стоимости кухни</button>
    </div>
    <img src="@imgs/intro/kitchen2.jpg" alt="A photo of a kitchen, designed and made by us" class="intro__decorating-example-of-work">
    <div class="intro__info--secondary">
        <button class="link intro__btn_purpose--catalog"><span>Каталог</span><span>Более 1000 фото в каталоге</span></button>
        <div class="intro__soc-icons">
            <a href="https://t.me/HighSites" target="_blank" rel="noopener noreferrer" class="intro__soc-icon">{% include "glob/assets/media/soc-icons/Telegram.svg" %}</a>
            <a href="https://web.whatsapp.com" target="_blank" rel="noopener noreferrer" class="intro__soc-icon">{% include "glob/assets/media/soc-icons/WhatsApp.svg" %}</a>
            <a href="https://www.viber.com/ru" target="_blank" rel="noopener noreferrer" class="intro__soc-icon">{% include "glob/assets/media/soc-icons/Viber.svg" %}</a>
        </div>
    </div>
</div>
{% include "pages/index/comps/html/intro/marble.svg" %}