@use 'variables' as *
@use 'mixins' as *

.btn
    width: rem(260px)
    height: rem(64px)
    color: $colorText_theme--dark

    &:hover
        background-color: $colorAccent
    &:active
        background-color: $colorBg_theme--dark

.btn--transparent
    color: $colorSecondary
    border: 1px solid $colorSecondary
    background-color: transparent

    &:hover
        background-color: $colorSecondary

.btn--text-only
    background-color: transparent
    color: var(--color-text)

    &:hover
        color: $colorAccent


.body_theme--dark
    .btn--transparent
        color: $colorText_theme--dark
        border-color: $colorText_theme--dark

