@use 'variables' as *
@use 'mixins' as *

.headline //h1
    font-family: 'SovMod', fantasy
    font-weight: 400
    font-size: rem(40px)
    line-height: 1.15
    text-align: left

.headline--small //h5
    font-family: 'SovMod', fantasy
    font-weight: 400
    @include avr(font-size, 30px, 40px)
    line-height: 1.15
    text-align: center

.title //h2
    font-family: 'Montserrat', sans-serif
    font-weight: 500
    font-size: rem(25px)
    text-align: left

.text
    font-family: 'Montserrat', sans-serif
    font-weight: 400
    font-size: rem(16px)
    line-height: 1.15
    text-align: left

.cursive
    font-family: 'monotypecorsiva', serif
    font-weight: 400
    @include avr(font-size, 18px, 25px)
    letter-spacing: .11em

.btn-text
    font-family: 'Monsterrat', sans-serif
    font-weight: 700
    @include avr(font-size, 14px, 16px)
    white-space: nowrap
    text-align: center


body
    @extend .text
    color: var(--color-text)