<div class="container header__container">
    <a href="index.html" class="header__logo">{% include "../../../assets/svg/logo.svg" %}</a>
    <div data-adtf="main, first, 0; .container.header__container, 2, 1400" class="header__call">
        <a href="tel:{{telephone}}">{{telephone}}</a>
        <button class="btn btn--transparent btn-text">Заказать обратный звонок</button>
    </div>
    <div class="header__functionality">
        <button data-themeToggle class="header__theme-toggle">{% include "../../../assets/svg/themeToggle.svg" %}</button>
        <nav class="nav header__nav">
            <button class="nav__button header__nav-button" data-toggle-trigger="burgerMenu" data-toggle-type="burger">
                <span class="nav__button-elem header__nav-elem">square</span>
                <span class="nav__button-elem header__nav-elem">square</span>
                <span class="nav__button-elem header__nav-elem">square</span>
                <span class="nav__button-elem header__nav-elem">square</span>
            </button>
            <ul class="nav__menu header__menu" data-toggle-target="burgerMenu">
                <li class="nav__link header__nav-link"><a class="link" href="#">Преимущества</a></li>
                <li class="nav__link header__nav-link"><a class="link" href="#">Каталог</a></li>
                <li class="nav__link header__nav-link"><a class="link" href="#">Партнеры</a></li>
                <li class="nav__link header__nav-link"><a class="link" href="#">Рассрочка</a></li>
                <li class="nav__link header__nav-link"><a class="link" href="#">Контакты</a></li>
            </ul>
        </nav>
    </div>
</div>