@use 'comps' as *

//html glob rules

html
    scroll-behavior: smooth

*, *::before, *::after
    box-sizing: border-box

h1, h2, h3, h4, h5, h6
    font-weight: inherit
    font-size: inherit

a
    color: inherit
    text-decoration: none

img
    vertical-align: top

button
    cursor: pointer
    font: inheri
    background: none

//custom glob rules

body
    --color-text: $colorText
    --color-bg: $colorBg
    background-color: $colorBg

    &_theme--dark
        --color-text: $colorText_theme--dark
        --color-bg: $colorBg_theme--dark

    &.lock
        overflow: hidden

.wrapper
    position: relative
    min-height: 100vh
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    overflow: hidden

main
    flex-grow: 1

.container
    position: relative
    @include avr(padding-inline, 28px, 210px)
    margin: auto
    max-width: $widthMax